<!-- cuisines-form.vtl -->
<h1>New cuisine:</h1>

<form action="/" method="post">
  <label for="type">Cuisine type:</label><br>
  <input type="text" name="type" required>
  <button type="submit" class="btn btn-primary">Add cuisine</button>
</form>

<a href="/"><button name="btn btn-primary">Back to cuisines</button></a>
<!-- cuisines-form.vtl -->
