<form action="/cuisinesUser" method="post">

  <label for="userName">Username</label>
  <input type="text" name="username" value="">
  <label for="userName">Password</label>
  <input type="int" name="password" value="">
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
